* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  max-width: 450px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;

  font-family: 'Inconsolata', monospace;;
}

.pause-play-button {
  border-radius: 1rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  box-shadow: 0 5px 0px -1px darkgray;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pause-play-button:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

.pause-play-button:disabled {
  cursor: not-allowed;
}

.pause-play-button:active:not(:disabled) {
  transform: translateY(5px);
  box-shadow: none;
}

.next-song-button {
  border: none;
  background-color: DodgerBlue;
  padding: .5rem 1rem;
  border-radius: .2rem;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}

.next-song-button:hover {
  cursor: pointer;
  opacity: .8;
}

.iframe-wrapper {
  position: relative;
  margin-top: 2rem;
}

#embed-iframe {
  position: absolute;
  left: 0;
  right: 0;
  transition: top ease-out 1s;
}